<div class="dashboard">

  <div class="db-content dashboard">

    <div class="db-box chart">
      <canvas id="ram"></canvas>


      <a href="#" class="db-lnk-show">Mais informações</a>
    </div>

    <div class="db-box chart">
      <canvas id="consumption"></canvas>


      <a href="#" class="db-lnk-show">Mais informações</a>
    </div>

    <div class="db-box chart">
      <canvas id=""></canvas>


      <a href="#" class="db-lnk-show">Mais informações</a>
    </div>

    <div class="db-box">
      <div class="db-graph">
        <h3 class="db-title-3">Experience gained</h3>
        <img src="assets/images/db-graph-bar.png">
        <hr>
        <h3 class="db-title-3">Experience per day</h3>
        <img src="assets/images/db-graph.png">
      </div>

      <div class="db-friends">
        <h2 class="db-title-2">Últimas ações</h2>

        <ul>
          <li>
            <a href="#">

              <img src="assets/images/db-mini-avatar-1.png"> 
              <span class="db-avatar-name">Shawn Peterson</span>
              Finished the course: <b>Basic for UX Designer</b>
              <time>9:30 PM</time>

            </a>
          </li>
          <li>
            <a href="#">

              <img src="assets/images/db-mini-avatar-2.png"> 
              <span class="db-avatar-name">Mary V. Robinson</span>
              Finished the course: <b>Basic for UX Designer</b>
              <time>9:30 PM</time>

            </a>
          </li>
          <li>
            <a href="#">

              <img src="assets/images/db-mini-avatar-3.png"> 
              <span class="db-avatar-name">Joe Ramos</span>
              Finished the course: <b>Basic for UX Designer</b>
              <time>9:30 PM</time>

            </a>
          </li>
          <li>
            <a href="#">

              <img src="assets/images/db-mini-avatar-4.png"> 
              <span class="db-avatar-name">Sean Walker</span>
              Finished the course: <b>Basic for UX Designer</b>
              <time>9:30 PM</time>

            </a>
          </li>
        </ul>
        <a href="#" class="db-lnk-show">Show more</a>

      </div>

    </div>

  </div>

</div>
