<div class="dashboard">

  <div class="db-content dashboard">

    <div class="db-box chart">
      <h2 class="db-title-2">Regras</h2>

      <canvas id="ram"></canvas>
      <a href="#" class="db-lnk-show">Mais informações</a>
    </div>

    <div class="db-box chart">
      <h2 class="db-title-2">Consumo Mensal </h2>

      <canvas id="consumption"></canvas>
      <a href="#" class="db-lnk-show">Mais informações</a>
    </div>

    <div class="db-box chart">
      <h2 class="db-title-2">Consumo nos últimos dias</h2>

      <!-- <canvas id=""></canvas> -->
      <img src="assets/images/db-graph.png">

      <a href="#" class="db-lnk-show">Mais informações</a>
    </div>

    <div class="db-box">
      <!-- <div class="db-graph">
        <h3 class="db-title-3">Experience gained</h3>
        <img src="assets/images/db-graph-bar.png">
        <hr>
        <h3 class="db-title-2">Consumo nos últimos dias</h3>
        <img src="assets/images/db-graph.png">
      </div> -->

      <div class="db-list">
        <h2 class="db-title-2">Últimas ações</h2>

        <ul>
          <li>
            <a href="#">

              <img src="assets/images/db-avatar.png">
              <span class="db-avatar-name">Jaon</span>
              Ativou a regra: <b>controle_lamp01</b>
              <time>6:30 PM</time>

            </a>
          </li>
          <li>
            <a href="#">

              <img src="assets/images/db-avatar.png">
              <span class="db-avatar-name">Jaon</span>
              Criou a regra: <b>controle_lamp01</b>
              <time>6:29 PM</time>

            </a>
          </li>
          <li>
            <a href="#">

              <img src="assets/images/db-avatar.png">
              <span class="db-avatar-name">Usuário Teste</span>
              Desligou a lâmpada: <b>lamp_01</b>
              <time>6:28 PM</time>

            </a>
          </li>
          <li>
            <a href="#">

              <img src="assets/images/db-avatar.png">
              <span class="db-avatar-name">Usuário Teste</span>
              Ligou a lâmpada: <b>lamp_01</b>
              <time>6:27 PM</time>

            </a>
          </li>
        </ul>
        <a href="#" class="db-lnk-show">Mais informações</a>

      </div>

    </div>

  </div>

</div>
