<div class="pane">
  <h1>Regras</h1>

  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Data de Criação</th>
      <th>Última Edição</th>
      <th>Status</th>
      <th>Complexidade</th>
      <th>Ações</th>
    </tr>
    <tr>
      <td>Teste</td>
      <td>Controle de luz da entrada</td>
      <td>10/08/2016</td>
      <td>10/08/2016</td>
      <td>Ativa</td>
      <td>7</td>
      <td>Deletar &bull; Editar &bull; Desativar</td>
    </tr>
  </table>
</div>
