doctype html
html(ng-app='App')
  head
    meta(charset='utf8')
    title CyHouse
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    link(rel='stylesheet' href='/lib/ionic/css/ionic.min.css')
    link(rel='stylesheet' href='/lib/jointjs/joint.min.css')
    link(rel='stylesheet' href='/css/custom.css')
    script(src='/lib/ionic/js/ionic.bundle.min.js')
    script(src='/lib/jquery/jquery-1.11.1.min.js')
    script(src='/lib/fabricjs/fabric.min.js')
    script(src='/lib/jointjs/joint.all.min.js')
    script(src='/lib/jointjs/joint.shapes.devs.min.js')
    script(src='/lib/chart/Chart.min.js')
    script(src='/js/utils.js')
    script(src='/js/app.js')

  body
    ion-nav-view(animation='slide-left-right')
      
    script(type='text/ng-template' id='login.html')
      ion-nav-bar(class='bar-positive nav-title-slide-ios7')
      ion-view(title="Login CyHouse")
        ion-content(scroll='false')
          div(class='list card form')
            div(class='item')
              h2 Login
              p Insira seus dados, por favor.
            div(class='item item-body')
              div(class='list list-inset')
                label(class='item item-input')
                  input(id='login' type='text' ng-model='user.username' placeholder='Usuário')
                label(class='item item-input')
                  input(id='passd' type='password' ng-model='user.password' placeholder='Senha')
            div(class='item tabs tabs-secondary tabs-icon-left')
              a(class='tab-item' ng-click='signIn(user)')
                i(class='icon ion-log-in')
                | Logar

    script(type='text/ng-template' id='forgot-password.html')
      ion-view(title="Esqueci minha senha")
        ion-content(scroll='false' padding='true')
          p duhh

    script(type='text/ng-template' id='menu.html')
      ion-side-menus
        ion-side-menu-content(drag-content='false' scroll='false')
          ion-nav-bar(class='bar-positive nav-title-slide-ios7')
          ion-nav-buttons(side='left')
            button(menu-toggle='left' class='button button-icon icon ion-navicon')
          ion-nav-view
        ion-side-menu(side='left')
          div(class='bar bar-header bar-positive')
            h1(class='title') Menu
          ion-content(scroll='true' class='has-header')
            ion-list
              ion-item(class='item-icon-left' nav-clear menu-close href='#/app/main')
                i(class='icon ion-email')
                | Menu Principal
              //ion-item(class='item-icon-left' nav-clear menu-close href='#/app/logic')
                i(class='icon ion-home')
                | Minha casa
              ion-item(class='item-icon-left' nav-clear menu-close href='#/app/statistics')
                i(class='icon ion-stats-bars')
                | Estatísticas
              //ion-item(class='item-icon-left' nav-clear menu-close href='#/app/statistics')
                i(class='icon ion-stats-bars')
                | Agenda(todo list)
              ion-item(class='item-icon-left' nav-clear menu-close href='#/app/logic')
                i(class='icon ion-lightbulb')
                | Lógica
              //ion-item(class='item-icon-left' nav-clear menu-close href='#/app/logic')
                i(class='icon ion-levels')
                | Módulos
              //ion-item(class='item-icon-left' nav-clear menu-close href='#/app/logic')
                i(class='icon ion-gear-b')
                | Configurações
              ion-item(class='item-icon-left' nav-clear href='logout')
                i(class='icon ion-log-out')
                | Sair

    script(type='text/ng-template' id='main.html')
      ion-view(title="Tela principal")
        ion-content(scroll='false' padding='true')
          div(class='item item-text-wrap' style='width: 460px; text-align: center')
            h1 Bem vindo, {{username}}!
            
          div(id='widgets')
            div(class='list card' style='width: 220px; float: left;')
              div(class='item')
                h2(style='text-align: center') Memória do servidor
                p Memória utilizada
              div(class='item')
                canvas(id='container' width='180' height='180' style='')
                  
            div(class='list card' style='width: 220px; float: left; margin-left: 20px')
              div(class='item')
                h2(style='text-align: center') Temperatura do servidor
                p Temperatura no processador
              div(class='item' style='font-weight: bold; font-size: 5.5em; text-align: center; line-height: 170px;  height: 219px')
                |58°C
          
    script(type='text/ng-template' id='statistics.html')
      ion-view(title="Estatísticas")
        ion-content(scroll='false' padding='true')
          div(class='item item-text-wrap' style='width: 480px;')
            |Quantas horas a lâmpada ficou ligada por mês
          canvas(id='container' width='680' height='350' style='border: 1px solid black; margin-top: 10px')
    script(type='text/ng-template' id='logic.html')
      ion-view(title="Lógica")
        ion-content(scroll='false' padding='true')
          div(id='output' class='item item-text-wrap' style='width: 650px;')
            |Vazio
          div(id='container' style='width: 850px; height: 400px; border: 1px solid black; margin-top: 10px')
          //div(class='range range-positive' style='width: 300px')
            i(class='icon ion-ios7-search')
            input(type='range' min='1' max='100' value='50')
            i(class='icon ion-search')
