@import "base"

.dashboard
  .db-subheader
    height: auto !important
    padding: 20px 45px

  .chart
    display: inline-block
    width: 31.7%
    height: 360px
    &:not(:first-child)
      margin-left: 2%

